<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>게시판</title>
  <nav>게시글</nav>
</head>
<body>
<div>
  <br/>
  <div align="center">
    <form th:object="${content}" method="post">
      <div class="form-group" align="left">
        <div th:text="|작성자 : ${content.writer}|"></div>
        <div th:text="|제목: *{title}|"></div>
        <div th:text="|좋아요: *{heartCnt}|"></div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{password}" placeholder="비밀번호를 입력하세요" width="400px">
        <br><br>
        <h3>내용</h3>
        <div class="texts" th:text="*{texts}"></div>
        <div class="mb-3" th:if="${content.imageUrls != null}">
          <label class="form-label">이미지</label>
          <div>
            <th:block th:each="imageUrl : ${content.imageUrls}">
              <img th:src="${imageUrl}" alt="Image" width="200px" height="200px">
            </th:block>
          </div>
        </div>
        <div class="col" align="center">
          <button th:formaction="@{|/heart/${content.id}|}" class="select-btn float-right" th:text="좋아요" >좋아요</button>
        </div>
        <!-- Comments -->
        <br>
        <div class="card my-4" th:if="${comments.size()} != 0">
          <h4 class="card-header">댓글</h4>
          <div class="comment">
            <div th:each="comment : ${comments}">
              <div class="media mb-4">
                <div class="media-body" th:unless="${comment.hasParent==true}">
                  <img class="d-flex mr-3 rounded-circle" th:src="${comment.getImageUrl()}" alt="User image" width="30" height="30">
                  <h5 class="mt-0" th:text="${comment.getNickname()}">User Name</h5>
                  <p th:text="${comment.getComment()}" th:id="'comment-' + ${comment.getId()}">Comment content</p>
                  <small class="text-muted" th:text="${#temporals.format(comment.getCreatedAt(), 'yyyy-MM-dd HH:mm')}">Comment Date</small>
                  <div th:if="${comment.nickname == loggedInNickname}">
                    <button type="button" class="edit-comment"  th:data-board-id="${content.id}" th:data-comment-id="${comment.getId()}" th:data-comment-text="${comment.getComment()}" >수정</button>
                  </div>
                  <!-- 대댓글 폼 -->
                  <form th:if="${comment.hasChildren == false}" method="post">
                    <input type="hidden" name="parentId" th:value="${comment.id}">
                    <textarea name="comment" class="comment"></textarea>
                    <button type="submit" class="btn btn-primary" th:formaction="@{|/boards/free/${content.id}/comment|}">대댓글 작성</button>
                  </form>
                </div>
                <div class="media-body ml-auto" th:if="${comment.hasParent==true}">
                  <img class="d-flex mr-3 rounded-circle" th:src="${comment.getImageUrl()}" alt="User image" width="30" height="30">
                  <h5 class="mt-0" th:text="${comment.getNickname()}">User Name</h5>
                  <p th:text="${comment.getComment()}" th:id="'comment-' + ${comment.getId()}">Comment content</p>
                  <small class="text-muted" th:text="${#temporals.format(comment.getCreatedAt(), 'yyyy-MM-dd HH:mm')}">Comment Date</small>
                  <div th:if="${comment.nickname == loggedInNickname}">
                    <button type="button" class="edit-comment"  th:data-board-id="${content.id}" th:data-comment-id="${comment.getId()}" th:data-comment-text="${comment.getComment()}" >수정</button>
                  </div>
                  <!-- 대댓글 폼 -->
                  <form th:if="${comment.hasChildren == false}" method="post">
                    <input type="hidden" name="parentId" th:value="${comment.id}">
                    <textarea name="comment" class="comment"></textarea>
                    <button type="submit" class="btn btn-primary" th:formaction="@{|/boards/free/${content.id}/comment|}">대댓글 작성</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Comments Form -->
        <h3>댓글 작성</h3>
        <form th:if="${parentId}"  method="post">
          <textarea name="comment" class="comment"></textarea>
          <!-- parentId를 전달하는 hidden input -->
          <input type="hidden" name="parentId" th:value="${parentId}">
          <div class="row select-btn">
            <div class="col" align="left">
              <button type="submit" class="select-btn" th:formaction="@{|/boards/free/${content.id}/comment|}">Submit</button>
            </div>
          </div>
        </form>

        <form th:unless="${parentId}"  method="post">
          <textarea name="comment" class="comment"></textarea>
          <div class="row select-btn">
            <div class="col" align="left">
              <button type="submit" class="select-btn" th:formaction="@{|/boards/free/${content.id}/comment|}">Submit</button>
            </div>
          </div>
        </form>
      </div>
        <div class="select-btn">
          <button th:formaction="@{|/boards/free/editPage/${content.id}|}">수정</button>
          <button th:formaction="@{|/boards/free/delete/${content.id}|}">삭제</button>
          <button type="button" th:onclick="|location.href='@{/boards/free}'|">뒤로가기</button>
        </div>
    </form>
    </div>
  </div>
</div>
<script>
  $('.edit-comment').click(function() {

var commentId = $(this).data('comment-id');
var commentText = $(this).data('comment-text'); // 변경된 부분
var boardId = $(this).data('board-id'); // 추가된 부분

// 수정을 위한 폼을 동적으로 생성합니다.
var editFormHtml = '<input type="text" id="edit-text-' + commentId + '" value="' + commentText + '">';
editFormHtml += '<button type="button" onclick="submitEdit(' + commentId + ', ' + boardId + ')">저장</button>'; // boardId 인자 추가

    $('#comment-' + commentId).html(editFormHtml);
});
function submitEdit(commentId,boardId) {
var updatedText = $('#edit-text-' + commentId).val(); // 수정된 댓글 내용을 가져옵니다.

$.ajax({
url: '/comment/update/' + commentId, // 댓글 수정 API URL
type: 'POST', // HTTP 메소드
data: {
text: updatedText, // 서버로 보낼 데이터
boardId: boardId
},
success: function(response) {
// 성공적으로 수정되었을 때의 처리
alert('댓글 수정에 성공했습니다.');
window.location.href = "/boards/free/" + boardId;
},
error: function() {
// 오류 처리
alert('댓글 수정에 실패했습니다.');
}
});
}
</script>
</body>
</html>


