<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>게시판</title>
  <nav>게시글</nav>
</head>
<body>
<div>
  <br/>
  <div align="center">
    <form th:object="${content}" method="post">
      <div class="form-group" align="left">
        <div th:text="|작성자 : ${content.writer}|"></div>
        <div th:text="|제목: *{title}|"></div>
        <br><br>
        <h3>내용</h3>
        <div class="texts" th:text="*{texts}"></div>
        <div style="text-align: center;">
          <th:block th:each="image : ${content.images}">
              <img th:src="${image.url}" alt="Image" width="400px" height="400px">
          </th:block>
        </div>
        <!-- Comments -->
        <br>
        <div class="card my-4" th:if="${comments.size()} != 0">
          <h4 class="card-header">댓글</h4>
          <div class="comment">
            <div th:each="comment : ${comments}">
              <div class="media mb-4">
                  <div th:if="${comment.hasChildren==true}" class="media-body">
                      <h5 class="mt-0" th:text="${comment.getNickname()}">User Name</h5>
                      <p th:if="${comment.isPrivate==true} and ${comment.nickname !=nickName}" th:text="비밀댓글입니다" th:id="'comment-' + ${comment.getId()}">Comment content</p>
                      <p th:if="${comment.isPrivate==true} and ${comment.nickname ==nickName}" th:text="${comment.getComment()}" th:id="'comment-' + ${comment.getId()}">Comment content</p>
                      <p th:unless="${comment.isPrivate==true}" th:text="${comment.getComment()}" th:id="'comment-' + ${comment.getId()}">Comment content</p>
                      <small class="text-muted" th:text="${#temporals.format(comment.getCreatedAt(), 'yyyy-MM-dd HH:mm')}">Comment Date</small>
                      <div th:if="${comment.nickname == nickName}">
                          <button type="button" class="edit-comment"  th:data-board-id="${content.id}" th:data-comment-id="${childComment.getId()}" th:data-comment-text="${childComment.getComment()}" >수정</button>
                      </div>
                      <div th:each="childComment : ${comment.children}" class="media-body ml-auto">
                          <h5 class="mt-0" th:text="${comment.getNickname()}">User Name</h5>
                          <p th:if="${childComment.isPrivate==true} and ${childComment.nickname !=nickName}" th:text="비밀댓글입니다" th:id="'comment-' + ${comment.getId()}">Comment content</p>
                          <p th:if="${childComment.isPrivate==true} and ${childComment.nickname ==nickName}" th:text="${childComment.getComment()}" th:id="'comment-' + ${comment.getId()}">Comment content</p>
                          <p th:unless="${childComment.isPrivate==true}" th:text="${childComment.getComment()}" th:id="'comment-' + ${childComment.getId()}">Comment content</p>
                          <small class="text-muted" th:text="${#temporals.format(comment.getCreatedAt(), 'yyyy-MM-dd HH:mm')}">Comment Date</small>
                          <div th:if="${childComment.nickname == nickName}">
                              <button type="button" class="edit-comment"  th:data-board-id="${content.id}" th:data-comment-id="${childComment.getId()}" th:data-comment-text="${childComment.getComment()}" >수정</button>
                          </div>
                      </div>
                      <form method="post" class="media-body ml-auto">
                          <input type="hidden" name="parentId" th:value="${comment.id}">
                          <textarea name="comment" class="comment"></textarea>
                          <div>
                              <input type="checkbox" class="form-check-input" th:id="|secretComment-${comment.id}|" th:field="${commentRequestDto.isPrivate}">
                              <label class="form-check-label" th:for="|secretComment-${comment.id}|">비밀댓글</label>
                          </div>
                          <button type="submit" class="btn btn-primary" th:formaction="@{|/contents/comment/${content.id}|}">대댓글 작성</button>
                      </form>
                  </div>
                  <div th:if="${comment.hasChildren==false}" class="media-body">
                      <h5 class="mt-0" th:text="${comment.getNickname()}">User Name</h5>
                      <p th:if="${comment.isPrivate==true} and ${comment.nickname !=nickName}" th:text="비밀댓글입니다" th:id="'comment-' + ${comment.getId()}">Comment content</p>
                      <p th:if="${comment.isPrivate==true} and ${comment.nickname ==nickName}" th:text="${comment.getComment()}" th:id="'comment-' + ${comment.getId()}">Comment content</p>
                      <p th:unless="${comment.isPrivate==true}" th:text="${comment.getComment()}" th:id="'comment-' + ${comment.getId()}">Comment content</p>
                      <small class="text-muted" th:text="${#temporals.format(comment.getCreatedAt(), 'yyyy-MM-dd HH:mm')}">Comment Date</small>
                      <div th:if="${comment.nickname == nickName}">
                          <button type="button" class="edit-comment"  th:data-board-id="${content.id}" th:data-comment-id="${comment.getId()}" th:data-comment-text="${comment.getComment()}" >수정</button>
                      </div>
                      <form method="post">
                          <input type="hidden" name="parentId" th:value="${comment.id}">
                          <textarea name="comment" class="comment"></textarea>
                          <div>
                              <input type="checkbox" class="form-check-input" th:id="|secretComment-${comment.id}|" th:field="${commentRequestDto.isPrivate}">
                              <label class="form-check-label" th:for="|secretComment-${comment.id}|">비밀댓글</label>
                          </div>
                          <button type="submit" class="btn btn-primary" th:formaction="@{|/contents/comment/${content.id}|}">대댓글 작성</button>
                      </form>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Comments Form -->
        <h3>댓글 작성</h3>
        <form method="post" th:object="${commentRequestDto}">
          <textarea name="comment" class="comment" th:field="*{comment}"></textarea>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" th:id="|secretComment|" th:field="*{isPrivate}">
            <label class="form-check-label" th:for="|secretComment|">비밀댓글</label>
          </div>
          <div class="row select-btn">
            <div class="col" align="left">
              <button type="submit" class="select-btn" th:formaction="@{|/contents/comment/${content.id}|}">Submit</button>
            </div>
          </div>
        </form>
      </div>
        <div class="select-btn">
          <button th:formaction="@{|/contents/editPage/${content.id}|}">수정</button>
          <button th:formaction="@{|/contents/delete/${content.id}|}">삭제</button>
          <button type="button" th:onclick="|location.href='@{/contents}'|">뒤로가기</button>
        </div>
    </form>
    </div>
  </div>
</div>
<script>
  $('.edit-comment').click(function() {

var commentId = $(this).data('comment-id');
var commentText = $(this).data('comment-text'); // 변경된 부분
var boardId = $(this).data('board-id'); // 추가된 부분

// 수정을 위한 폼을 동적으로 생성합니다.
var editFormHtml = '<input type="text" id="edit-text-' + commentId + '" value="' + commentText + '">';
editFormHtml += '<button type="button" onclick="submitEdit(' + commentId + ', ' + boardId + ')">저장</button>'; // boardId 인자 추가

    $('#comment-' + commentId).html(editFormHtml);
});
function submitEdit(commentId,boardId) {
var updatedText = $('#edit-text-' + commentId).val(); // 수정된 댓글 내용을 가져옵니다.

$.ajax({
url: '/comment/update/' + commentId, // 댓글 수정 API URL
type: 'POST', // HTTP 메소드
data: {
text: updatedText, // 서버로 보낼 데이터
boardId: boardId
},
success: function(response) {
// 성공적으로 수정되었을 때의 처리
alert('댓글 수정에 성공했습니다.');
window.location.href = "/contents/" + boardId;
},
error: function() {
// 오류 처리
alert('댓글 수정에 실패했습니다.');
}
});
}
</script>
</body>
</html>


