<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>게시판</title>
  <nav>글 수정 화면</nav>
</head>
<body>
<div>
  <br/>
  <div align="center">
    <form th:object="${content}" th:action="@{|/boards/free/edit/${content.id}|}" method="post">
      <div class="form-group" align="left">
        <label for="title">글 제목 : </label>
        <input  type="text" id="title" name="title" th:field="*{title}" placeholder="제목을 입력하세요" width="400px">
        <br/><br/>
        <label for="texts">글 내용 : </label>
        <br/><br/>
        <textarea id="texts" name="texts" th:field="*{texts}"></textarea>
      </div>
      <button type="submit">수정완료</button>
      <button th:action="@{|/boards/free/|}"type="submit">취소</button>
    </form>
  </div>
</div>
</body>
</html>