<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>자유게시판 페이지</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/style.css">
  <style>
    .notice{
    background-color: orange;
}
.selected {
  color: blue;
  font-weight:bold;
}
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg" style="margin-bottom: 20px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">분실물 찾기</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!--            <a class="nav-link active" aria-current="page" href="/">홈</a>-->
          <a th:if="${pageName == 'home'}" class="nav-link active" aria-current="page" href="/">Home</a>
          <a th:unless="${pageName == 'home'}" class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contents">게시판</a>
        </li>
      </ul>
    </div>
    <div class="justify-content-between" id="navbarNav" style="padding: 5px 30px">

      <!-- admin 일때 -->
      <ul sec:authorize="hasRole('ROLE_ADMIN')" class="navbar-nav">
        <li class="nav-item">
          <button class="nav-btn" onclick="location.href = '/admin'">관리자</button>
        </li>
        <li class="nav-item">
          <button class="nav-btn" onclick="location.href = '/users/my'">내 정보</button>
        </li>
        <li class="nav-item">
          <button th:onclick="|location.href='@{/admin/content/write}'|" class="nav-btn">공지사항 쓰기</button>
        </li>
        <li class="nav-item">
          <button th:onclick="|location.href='@{/contents/write}'|" class="nav-btn">글쓰기</button>
        </li>
        <li class="nav-item">
          <button class="nav-btn" onclick="location.href = '/users/logout'">로그아웃</button>
        </li>
      </ul>
        <!-- user 일때 -->
      <ul sec:authorize="hasRole('ROLE_USER')" class="navbar-nav">
        <li class="nav-item">
          <button th:onclick="|location.href='@{/contents/write}'|" class="nav-btn">글쓰기</button>
        </li>
        <li class="nav-item">
          <button class="nav-btn" onclick="location.href = '/users/logout'">로그아웃</button>
        </li>
        <li class="nav-item">
          <button class="nav-btn" onclick="location.href = '/users/my'">내 정보</button>
        </li>
      </ul>
      <ul sec:authorize="isAnonymous()" class="navbar-nav">
        <li class="nav-item">
          <button class=" nav-btn" th:onclick="location.href = '/users/login'">로그인</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="text-align: center; margin-bottom: 20px;" id="teamSelection">
  <a class="btn" data-team="두산">두산</a>
  <a class="btn" data-team="롯데">롯데</a>
  <a class="btn" data-team="삼성">삼성</a>
  <a class="btn" data-team="키움">키움</a>
  <a class="btn" data-team="한화">한화</a>
  <a class="btn" data-team="KIA">KIA</a>
  <a class="btn" data-team="KT">KT</a>
  <a class="btn" data-team="LG">LG</a>
  <a class="btn" data-team="NC">NC</a>
  <a class="btn" data-team="SSG">SSG</a>
</div>
<div style="text-align: center; margin-bottom: 20px;" id="positionSelection">
  <a class="btn" data-position="1루">1루</a>
  <a class="btn" data-position="3루">3루</a>
  <a class="btn" data-position="외야">외야</a>
  <a class="btn" data-position="기타">기타</a>
</div>
  <!-- board seach area -->
  <div id="board-search">
    <div class="container">
      <div class="search-window">
        <form action="/contents" method="get">
          <div class="search-wrap">
            <label for="search" class="blind">공지사항 내용 검색</label>
            <input id="search" type="text" name="searchWord" placeholder="검색어를 입력해주세요." value="">
            <button type="submit" class="btn btn-dark">검색</button>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- board list area -->
  <div id="board-list">
    <div class="container">
      <table class="board-table">
        <thead>
        <tr>
          <th scope="col" class="th-title">제목</th>
          <th scope="col" class="th-team">팀</th>
          <th scope="col" class="th-position">위치</th>
          <th scope="col" class="th-writer">이미지</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contentDto: ${contentDtos}"
        th:classappend="${contentDto.isImportant==True}?'notice':''">
          <td>
            <a th:text="|${contentDto.title} (${contentDto.commentCnt})|" th:href="@{|/contents/${contentDto.id}|}"></a>
          </td>
            <td>
              <a th:text="|${contentDto.team} |" th:href="@{|/contents/${contentDto.id}|}"></a>
            </td>
          <td>
            <a th:text="|${contentDto.position.getPositionName()} |" th:href="@{|/contents/${contentDto.id}|}"></a>
          </td>
          <td>
            <img th:src="${contentDto.image.url}" alt="Image" width="200px" height="130px">
          </td>
        </tr>
        </tbody>
      </table>
      <div class="pages">
      <!-- 첫번째 페이지로 이동 -->
      <a th:href="@{/contents(page=1)}">처음 </a>

      <!-- 이전 링크 활성화 비활성화 -->
      <a th:href="${contentDtos.first} ? '#' : @{/contents(page=${contentDtos.number})}"> 이전 </a>

      <!-- 페이지 번호 링크(현재 페이지는 숫자만)
              for(int page=startPage; page<=endPage; page++)-->
      <span th:each="page: ${#numbers.sequence(startPage, endPage)}">

		<!-- 현재페이지는 링크 없이 숫자만 -->
            <span th:if="${page == contentDtos.number + 1}" th:text="${page}"></span>
        <!-- 현재페이지 링크 X, 다른 페이지번호에는 링크를 보여준다 -->
            <span th:unless="${page == contentDtos.number + 1}">
        <a th:href="@{/contents(page=${page})}" th:text="${page}"></a>
            </span>
        </span>

      <!-- 다음 링크 활성화 비활성화 -->
      <a th:href="${contentDtos.last} ? '#' : @{/contents(page=${contentDtos.number + 2})}"> 다음 </a>

      <!-- 마지막 페이지로 이동 -->
      <a th:href="@{/contents(page=${contentDtos.totalPages})}"> 마지막 </a>
      </div>
    </div>
  </div>
</section>
</body>
</html>
<script>
function getQueryParam(param) {
  var searchParams = new URLSearchParams(window.location.search);
  return searchParams.get(param);
}
function clearSelectedClass(selector) {
  document.querySelectorAll(selector).forEach(function(element) {
    element.classList.remove('selected');
  });
}

function setSelectedClass(selector, attribute, value) {
  document.querySelectorAll(selector).forEach(function(element) {
    if (element.getAttribute(attribute) === value) {
      element.classList.add('selected');
    }
  });
}
  document.addEventListener("DOMContentLoaded", function() {
  // URL에서 이미 선택된 팀 정보를 가져옴
  var selectedTeam = getQueryParam('team');
  var selectedPosition = getQueryParam('position');

 // 초기 로딩 시 선택된 팀과 포지션에 따른 스타일 적용
  if (selectedTeam) {
    setSelectedClass("#teamSelection a.btn", "data-team", selectedTeam);
  }
  if (selectedPosition) {
    setSelectedClass("#positionSelection a.btn", "data-position", selectedPosition);
  }

  // 팀 선택 이벤트 리스너
  document.getElementById("teamSelection").addEventListener("click", function(e) {
    if (e.target && e.target.matches("a.btn")) {
      selectedTeam = e.target.getAttribute("data-team"); // 선택된 팀 업데이트
      let url = "/contents";

      // 팀이 선택되었는지 확인
      if (selectedTeam) {
        url += `?team=${selectedTeam}`;
      }
       window.location.href = url;
    }
  });

  // 포지션 선택 이벤트 리스너
  document.getElementById("positionSelection").addEventListener("click", function(e) {
    if (e.target && e.target.matches("a.btn")) {
      const position = e.target.getAttribute("data-position");
      let url = "/contents";

      // 팀이 선택되었는지 확인
      if (selectedTeam) {
        url += `?team=${selectedTeam}&position=${position}`;
      } else {
        url += `?position=${position}`;
      }

      // 생성된 URL로 페이지 이동
      window.location.href = url;
    }
  });
});
</script>