<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>게시판</title>
  <nav>글 쓰기 화면</nav>
  <style>
    .team-container{
    display: inline-block;
    margin-right: 5px;
    }
    .position-container{
    display: inline-block;
    margin-right: 5px;
    }
  </style>
</head>
<body>
<div>
  <br/>
  <div align="center">
    <form action="/contents/write" method="post" th:object="${content}" enctype="multipart/form-data">
      <div class="form-group" align="left">
        <label for="title" style="font-weight: bold;">글 제목 : </label>
        <input type="text" id="title" name="title" th:field="*{title}" placeholder="제목을 입력하세요" width="400px">
        <br/><br/>
        <div style="font-weight: bold;">팀</div>
        <div th:each="team : ${teams}" class="team-container">
          <input type="radio" th:id="${'team_' + team}" th:name="team" th:value="${team}" />
          <label th:for="${'team_' + team}" th:text="${team}">Team</label>
        </div>
        <br/><br/>
      <div style="font-weight: bold;">위치</div>
        <div th:each="position : ${positions}" class="position-container">
          <input type="radio" th:id="${'position_' + position}" th:name="position" th:value="${position}" />
          <label th:for="${'position_' + position}" th:text="${position}">Position</label>
        </div>
        <br/><br/>
        <label for="texts" style="font-weight: bold;" >글 내용</label>
        <br/><br/>
        <div id="byteCounter">0 바이트</div>
        <textarea id="texts" name="texts" th:field="*{texts}" placeholder="0~500바이트 입력이 가능합니다."></textarea>
        <input type="file" name="files" id="files" accept="image/*" multiple>
        <label for="files">이미지</label>
      </div>
      <button type="submit">글 쓰기</button>
    </form>
  </div>
</div>
</body>
<script th:inline="javascript">
  function updateByteCount() {
  var textInput = document.getElementById('texts').value;

  // 텍스트를 UTF-8로 인코딩한 후 바이트 수 계산
  var byteCount = new TextEncoder().encode(textInput).length;

  // 바이트 수를 화면에 표시
  document.getElementById('byteCounter').innerText = "500/"+ byteCount + " 바이트";
}

// 'input' 이벤트 리스너를 추가하여 사용자 입력 시마다 updateByteCount 함수를 호출
document.getElementById('texts').addEventListener('input', updateByteCount);
/*<![CDATA[*/
var errorMessage = [[${errorMessage}]];
if(errorMessage != null && errorMessage.length > 0) {
    alert(errorMessage);
}
/*]]>*/
</script>
</html>