<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>프로필사진 수정</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="page-title">
    <div class="container">
        <h3>내 정보</h3>
    </div>
</div>
    <div class="image-edit">
      <img th:src="${image.getUrl()}" alt="User image" width="300" height="500">
        <form th:action="@{/image/upload}" th:method="post" enctype="multipart/form-data" class="mt-2">
            <div class="mb-3 mx-5">
                <input type="file" class="custom-file-input" name="file" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">저장</button>
            <button class="btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/users/my}'|"
                    type="button">취소</button>
        </form>
    </div>
  </div>
</body>
</html>