<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>내 정보</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg" style="margin-bottom: 60px;">
    <div class="page-title">
      <div class="container">
        <h3>내 정보</h3>
      </div>
    </div>
</nav>

<section class="notice">
  <!-- board seach area -->
  <div id="board-search">
    <div class="container">
      <div class="search-window">
        <h3 th:text="|안녕하세요 ${nickname}님!|"> 내가 쓴 게시글 </h3>
      </div>
        <img class="user-image" th:src="${image.getUrl()}" alt="User image" width="50" height="300">
      <table class="board-table my">
        <thead>
        <tr>
          <th scope="col" class="th-num">번호</th>
          <th scope="col" class="th-title">제목</th>
          <th scope="col" class="th-date">작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contentDto: ${contentDtos}">
          <td>
            <a th:text="${contentDto.id}" th:href="@{|/boards/free/${contentDto.id}|}"></a>
          </td>
          <td>
            <a th:text="${contentDto.title}" th:href="@{|/boards/free/${contentDto.id}|}"></a>
          </td>
          <td th:text="${contentDto.writer}"></td>
        </tr>
        </tbody>
      </table>
      <div class="pages my">
        <!-- 첫번째 페이지로 이동 -->
        <a th:href="@{/users/my(page=1)}">처음 </a>

        <!-- 이전 링크 활성화 비활성화 -->
        <a th:href="${contentDtos.first} ? '#' : @{/users/my(page=${contentDtos.number})}"> 이전 </a>

        <!-- 페이지 번호 링크(현재 페이지는 숫자만)
                for(int page=startPage; page<=endPage; page++)-->
        <span th:each="page: ${#numbers.sequence(startPage, endPage)}">

		<!-- 현재페이지는 링크 없이 숫자만 -->
            <span th:if="${page == contentDtos.number + 1}" th:text="${page}"></span>
          <!-- 현재페이지 링크 X, 다른 페이지번호에는 링크를 보여준다 -->
            <span th:unless="${page == contentDtos.number + 1}">
        <a th:href="@{/users/my(page=${page})}" th:text="${page}"></a>
            </span>
        </span>

        <!-- 다음 링크 활성화 비활성화 -->
        <a th:href="${contentDtos.last} ? '#' : @{/users/my(page=${contentDtos.number + 2})}"> 다음 </a>

        <!-- 마지막 페이지로 이동 -->
        <a th:href="@{/users/my(page=${contentDtos.totalPages})}"> 마지막 </a>
    </div>
    </div>
    <div class="edit-btn">
      <button class="btn btn-dark edit" th:onclick="|location.href='@{/users/my/edit/image}'|">사진 수정</button>
      <button class="btn btn-dark edit" th:onclick="|location.href='@{/users/my/edit/info}'|">정보 수정</button>
      <button class="btn btn-dark edit" th:onclick="|location.href='@{/}'|">홈으로</button>
    </div>
  </div>
</section>

</body>
</html>